**List**

In [7]:
#he `append()` method is used to add an element to the end of a list.
list_name=[]
element = 4
list_name.append(element)
print(list_name)

[4]

In [9]:
fruits = ["apple", "banana", "orange"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [10]:
#The `copy()` method is used to create a shallow copy of a list.

my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
print(new_list)

[1, 2, 3, 4, 5]

In [11]:
#	A list is a built-in data type that represents an ordered and mutable collection of elements. Lists are enclosed in square brackets [] and elements are separated by commas.
fruits = ["apple", "banana", "orange", "mango"]

In [14]:
#The `del` statement is used to remove an element from list. `del` statement removes the element at the specified index.
my_list = [10, 20, 30, 40, 50]
del my_list[2] # Removes the element at index 2 print(my_list)
my_list

[10, 20, 40, 50]

In [15]:
#The `extend()` method is used to add multiple elements to a list. It takes an iterable (such as another list, tuple, or string) and appends each element of the iterable to the original list.
fruits = ["apple", "banana", "orange"]
more_fruits = ["mango", "grape"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

In [16]:
#Indexing in a list allows you to access individual elements by their position. In Python, indexing starts from 0 for the first element and goes up to `length_of_list - 1`.
my_list = [10, 20, 30, 40, 50]
print(my_list[0])
# Output: 10 (accessing the first element)
print(my_list[-1])
# Output: 50 (accessing the last element using negative indexing)

10
50

In [17]:
#The `insert()` method is used to insert an element.
#list_name.insert(index, element)
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)
print(my_list)

[1, 2, 6, 3, 4, 5]

In [19]:
#You can use indexing to modify or assign new values to specific elements in the list.
my_list = [10, 20, 30, 40, 50]
my_list[1] = 25 # Modifying the second element
print(my_list)

[10, 25, 30, 40, 50]

In [20]:
#op()` method is another way to remove an element from a list in Python. It removes and returns the element at the specified index. If you don't provide an index to the `pop()` method,
#it will remove and return the last element of the list by default
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop(2) # Removes and returns the element at index 2
print(removed_element)
# Output: 30
print(my_list)

30
[10, 20, 40, 50]

In [21]:
#my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop() # Removes and returns the last element
print(removed_element)
# Output: 50
print(my_list)
# Output: [10, 20, 30, 40]

50
[10, 20, 40]

In [22]:
#To remove an element from a list. The `remove()` method removes the first occurrence of the specified value.
my_list = [10, 20, 30, 40, 50]
my_list.remove(30) # Removes the element 30
print(my_list)
# Output: [10, 20, 40, 50]

[10, 20, 40, 50]

In [24]:
#he `reverse()` method is used to reverse the order of elements in a list
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [25]:
#You can use slicing to access a range of elements from a list.
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])
# Output: [2, 3, 4] (elements from index 1 to 3)
print(my_list[:3])
# Output: [1, 2, 3] (elements from the beginning up to index 2)
print(my_list[2:])
# Output: [3, 4, 5] (elements from index 2 to the end)
print(my_list[::2])
# Output: [1, 3, 5] (every second element)

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

In [26]:
#The `sort()` method is used to sort the elements of a list in ascending order. If you want to sort the list in descending order,
# you can pass the `reverse=True` argument to the `sort()` method.
my_list = [5, 2, 8, 1, 9]
my_list.sort()
print(my_list)
# Output: [1, 2, 5, 8, 9]

[1, 2, 5, 8, 9]

In [28]:
#my_list = [5, 2, 8, 1, 9]
my_list.sort(reverse=True)
print(my_list)
# Output: [9, 8, 5, 2, 1]

[9, 8, 5, 2, 1]

**Dictionary**

In [30]:
#You can access the values in a dictionary using their corresponding `keys`.
#Value = dict_name["key_name"]
#name = person["name"]
#age = person["age"]

In [41]:
#Inserts a new key-value pair into the dictionary. If the key already exists, the value will be updated; otherwise, a new entry is created.
#dict_name[key] = value
person={}
person["Country"] = "USA" # A new entry will be created.
person["city"] = "Chicago" # Update the existing value for the same key
print(person)

{'Country': 'USA', 'city': 'Chicago'}

In [38]:
#The `clear()` method empties the dictionary, removing all key-value pairs within it. After this operation, the dictionary is still accessible and can be used further.
#dict_name.clear()
person.clear()
person
#outpyt is {}

{}

In [42]:
#Creates a shallow copy of the dictionary. The new dictionary contains the same key-value pairs as the original, but they remain distinct objects in memory.
#new_dict = dict_name.copy()
new_person = person.copy()
new_person = dict(person) # another way to create a copy of dictionary
new_person

{'Country': 'USA', 'city': 'Chicago'}

In [44]:
# Dictionary	A dictionary is a built-in data type that represents a collection of key-value pairs. Dictionaries are enclosed in curly braces `{}`.
dict_name = {} #Creates an empty dictionary
person = { "name": "John", "age": 30, "city": "New York"}

In [46]:
#Removes the specified key-value pair from the dictionary. Raises a `KeyError` if the key does not exist.
#del dict_name[key]
del person["Country"]

In [48]:
#Retrieves all key-value pairs as tuples and converts them into a list of tuples. Each tuple consists of a key and its corresponding value.
#items_list = list(dict_name.items())
info = list(person.items())
info

[('age', 30), ('city', 'New York')]

In [53]:
#	You can check for the existence of a key in a dictionary using the `in` keyword
if "age" in person:
    print("age exists in the dictionary.")

age exists in the dictionary.

In [55]:
#Retrieves all keys from the dictionary and converts them into a list. Useful for iterating or processing keys using list methods.
#keys_list = list(dict_name.keys())
person_keys = list(person.keys())
person_keys

['age', 'city']

In [57]:
#The `update()` method merges the provided dictionary into the existing dictionary, adding or updating key-value pairs.
#dict_name.update({key: value})
person.update({"Profession": "Doctor"})
person

{'age': 30, 'city': 'New York', 'Profession': 'Doctor'}

In [59]:
#Extracts all values from the dictionary and converts them into a list. This list can be used for further processing or analysis.
#values_list = list(dict_name.values())
person_values = list(person.values())
person_values

[30, 'New York', 'Doctor']

**Sets**

In [68]:
#Elements can be added to a set using the `add()` method. Duplicates are automatically removed, as sets only store unique values.
#set_name.add(element)
fruits={"m","n","g","o"}

fruits.add("mango")
fruits

{'g', 'm', 'mango', 'n', 'o'}

In [65]:
#The `clear()` method removes all elements from the set, resulting in an empty set. It updates the set in-place.
#set_name.clear()
fruits.clear()
fruits

set()

In [69]:
#The `copy()` method creates a shallow copy of the set. Any modifications to the copy won't affect the original set.
#new_set = set_name.copy()
new_fruits = fruits.copy()
new_fruits

{'g', 'm', 'mango', 'n', 'o'}

In [91]:
#A set is an unordered collection of unique elements. Sets are enclosed in curly braces `{}`. They are useful for storing distinct values and performing set operations.
empty_set = set() #Creating an Empty Set
fruits = {"apple", "banana", "orange"}

In [73]:
#Use the `discard()` method to remove a specific element from the set. Ignores if the element is not found.
#set_name.discard(element)
fruits.discard("apple")

fruits

{'banana', 'orange'}

In [76]:
#The `issubset()` method checks if the current set is a subset of another set. It returns True if all elements of the current set are present in the other set, otherwise False.
#is_subset = set1.issubset(set2)
#is_subset = fruits.issubset(colors)

In [ ]:
#The `issuperset()` method checks if the current set is a superset of another set. It returns True if all elements of the other set are present in the current set, otherwise False.
#is_superset = set1.issuperset(set2)
#is_superset = colors.issuperset(fruits)

In [87]:
#The `pop()` method removes and returns an arbitrary element from the set. It raises a `KeyError` if the set is empty. Use this method to remove elements when the order doesn't matter.
#removed_element = set_name.pop()
removed_fruit = fruits.pop()

removed_fruit

'orange'

In [92]:
#Use the `remove()` method to remove a specific element from the set. Raises a `KeyError` if the element is not found.
#set_name.remove(element)
fruits.remove("banana")
fruits

{'apple', 'orange'}

In [98]:
#Perform various operations on sets: `union`, `intersection`, `difference`, `symmetric difference`.
#union_set = set1.union(set2)
#intersection_set = set1.intersection(set2)
#difference_set = set1.difference(set2)
#sym_diff_set = set1.symmetric_difference(set2)
combined = fruits.union(person)
common = fruits.intersection(person)
unique_to_fruits = fruits.difference(person)
sym_diff = fruits.symmetric_difference(person)
combined
common
unique_to_fruits
sym_diff

{'Profession', 'age', 'apple', 'city', 'orange'}

In [100]:
#The `update()` method adds elements from another iterable into the set. It maintains the uniqueness of elements.
#set_name.update(iterable)
fruits.update(["kiwi", "grape"])